@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main-body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
